#main-container {
  place-items: center center;
}

#sign-in-form {
  max-width: 330px;
}

.bootstrap-logo {
  width: 72px;
  height: 72px;
}

.form-control:focus {
  z-index: 5;
}

.status {
  font-size: small;
}

.noAccount {
  margin-top: 14%;
  font-size: smaller;
}

.indent {
  margin-top: 1%;
}


