#main-container {
  place-items: center center;
}

#sign-in-form {
  max-width: 330px;
}

.bootstrap-logo {
  width: 72px;
  height: 72px;
}

.form-control:focus {
  z-index: 5;
}

.status {
  font-size: small;
}

.noAccount {
  margin-top: 14%;
  font-size: smaller;
}

.indent {
  margin-top: 1%;
}

.CardContainer {
  width: 80%;
  margin: auto;
}
.Card {
  width: 100%;
  margin-bottom: 20px;
}

.elCardPageDisplay {
  margin-left: 40%;
  margin-right: 40%;
}

@media print {
  .card-header {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }
  
  .card-text tr {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .card-text tr:first-child {
    margin-top: 0.5rem;
  }
  
  .card-text tr:last-child {
    margin-bottom: 0;
  }
  
  .btn {
    display: none;
  }
}
